.app-contact {
  &__title {
    font-size: 14px;
    margin-left: 130px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-width: 400px;
    gap: 10px;
  }

  &__input {
    border: 1px solid red;
  }
}