<title>Formularz kontaktowy</title>
<div class="container">
  <ul class="app-comp__list">
    <li class="app-comp__list-item">
      <a class="app-comp__link" routerLink="/homepage" routerLinkActive="active">Strona Główna</a>
    </li>
    <li class="app-comp__list-item">
      <a class="app-comp__link" routerLink="/contact" routerLinkActive="active">Formularz Kontaktowy</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
  <footer class="app-comp__footer">
    Wykonał:Rafał Wiliński
  </footer>
</div>